.ticket-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(135deg, rgb(2, 0, 36) 0%, rgb(4, 16, 58) 35%, rgb(23, 60, 125) 100%);

    padding: 36px;
    height: 100%;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    // padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */

    padding-bottom: 100px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 24px;

        span {
            color: #FEFEFE;
            font-size: 28px;
        }

        .back-icon-btn {
            cursor: pointer;
            background-color: transparent;


            &:hover {
                background-color: #626b8454;
            }

            mat-icon {
                position: relative;
                left: 4px;
                bottom: 3px;
                color: #FEFEFE;
                font-size: 28px;
            }
        }
    }
    &__content {

        .name {
            display: flex;
            justify-content: center;

            &__label {
                color: #4dcae7;
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 16px;
            }
        }
        .date-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 374px;

            &__container {
                display: flex;
                justify-content: center;
                margin-bottom: 24px;
            }
            &__selected {
                color: #555E7A;
                font-size: 22px;
                font-weight: 400;
            }
            
            &___icon-select {

            }
            input {
                visibility: hidden;
                width: 1px;
            }
        }
        &__seat-picker {

            flex-direction: column;
            align-items: center;
            display: flex;

            .seat-row-parent {
                display: grid;
                grid-template-columns: repeat(9, 1fr);
                grid-template-rows: repeat(8, 1fr);
                grid-column-gap: 8px;
                grid-row-gap: 8px;

                max-width: 408px;
                }
                
                .seat-row1 { grid-area: 1 / 2 / 2 / 3; }
                .seat-row2 { grid-area: 1 / 3 / 2 / 4; }
                .seat-row3 { grid-area: 1 / 4 / 2 / 5; }
                .seat-row4 { grid-area: 1 / 6 / 2 / 7; }
                .seat-row5 { grid-area: 1 / 7 / 2 / 8; }
                .seat-row6 { grid-area: 1 / 8 / 2 / 9; }
                .seat-row7 { grid-area: 2 / 1 / 3 / 2; }
                .seat-row8 { grid-area: 2 / 2 / 3 / 3; }
                .seat-row9 { grid-area: 2 / 3 / 3 / 4; }
                .seat-row10 { grid-area: 2 / 4 / 3 / 5; }
                .seat-row11 { grid-area: 2 / 6 / 3 / 7; }
                .seat-row12 { grid-area: 2 / 7 / 3 / 8; }
                .seat-row13 { grid-area: 2 / 8 / 3 / 9; }
                .seat-row14 { grid-area: 2 / 9 / 3 / 10; }
                .seat-row15 { grid-area: 3 / 1 / 4 / 2; }
                .seat-row16 { grid-area: 3 / 2 / 4 / 3; }
                .seat-row17 { grid-area: 3 / 3 / 4 / 4; }
                .seat-row18 { grid-area: 3 / 4 / 4 / 5; }
                .seat-row19 { grid-area: 3 / 6 / 4 / 7; }
                .seat-row20 { grid-area: 3 / 7 / 4 / 8; }
                .seat-row21 { grid-area: 3 / 8 / 4 / 9; }
                .seat-row22 { grid-area: 3 / 9 / 4 / 10; }
                .seat-row23 { grid-area: 4 / 1 / 5 / 2; }
                .seat-row24 { grid-area: 4 / 2 / 5 / 3; }
                .seat-row25 { grid-area: 4 / 3 / 5 / 4; }
                .seat-row26 { grid-area: 4 / 4 / 5 / 5; }
                .seat-row27 { grid-area: 4 / 6 / 5 / 7; }
                .seat-row28 { grid-area: 4 / 7 / 5 / 8; }
                .seat-row29 { grid-area: 4 / 8 / 5 / 9; }
                .seat-row30 { grid-area: 4 / 9 / 5 / 10; }
                .seat-row31 { grid-area: 5 / 1 / 6 / 2; }
                .seat-row32 { grid-area: 5 / 2 / 6 / 3; }
                .seat-row33 { grid-area: 5 / 3 / 6 / 4; }
                .seat-row34 { grid-area: 5 / 4 / 6 / 5; }
                .seat-row35 { grid-area: 5 / 6 / 6 / 7; }
                .seat-row36 { grid-area: 5 / 7 / 6 / 8; }
                .seat-row37 { grid-area: 5 / 8 / 6 / 9; }
                .seat-row38 { grid-area: 5 / 9 / 6 / 10; }
                .seat-row39 { grid-area: 6 / 1 / 7 / 2; }
                .seat-row40 { grid-area: 6 / 2 / 7 / 3; }
                .seat-row41 { grid-area: 6 / 3 / 7 / 4; }
                .seat-row42 { grid-area: 6 / 4 / 7 / 5; }
                .seat-row43 { grid-area: 6 / 6 / 7 / 7; }
                .seat-row44 { grid-area: 6 / 7 / 7 / 8; }
                .seat-row45 { grid-area: 6 / 8 / 7 / 9; }
                .seat-row46 { grid-area: 6 / 9 / 7 / 10; }
                .seat-row47 { grid-area: 7 / 1 / 8 / 2; }
                .seat-row48 { grid-area: 7 / 2 / 8 / 3; }
                .seat-row49 { grid-area: 7 / 3 / 8 / 4; }
                .seat-row50 { grid-area: 7 / 4 / 8 / 5; }
                .seat-row51 { grid-area: 7 / 6 / 8 / 7; }
                .seat-row52 { grid-area: 7 / 7 / 8 / 8; }
                .seat-row53 { grid-area: 7 / 8 / 8 / 9; }
                .seat-row54 { grid-area: 7 / 9 / 8 / 10; }
                .seat-row55 { grid-area: 8 / 2 / 9 / 3; }
                .seat-row56 { grid-area: 8 / 3 / 9 / 4; }
                .seat-row57 { grid-area: 8 / 4 / 9 / 5; }
                .seat-row58 { grid-area: 8 / 6 / 9 / 7; }
                .seat-row59 { grid-area: 8 / 7 / 9 / 8; }
                .seat-row60 { grid-area: 8 / 8 / 9 / 9; }

                
            .row-single {
                width: 30px;
                height: 30px;
                border: 1px solid #1D3798;
                border-radius: 8px;

                &--selected {
                    background-color: #4DCAE7;
                    border: 1px solid #4DCAE7;
                }

                &--reserved {
                    background-color: #293A74;
                    border: 1px solid #293A74;
                }
            }

            .legend {
                margin-top: 24px;
                display: flex;
                justify-content: center;
                gap: 24px;
                color: #DDDEE4;
                font-size: 13px;

                &__row {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
                &__box {
                    width: 16px;
                    height: 16px;
                    border: 1px solid #1D3798;
                    border-radius: 4px;


                    &--selected {
                        background-color: #4DCAE7;
                        border: 1px solid #4DCAE7;
                    }
    
                    &--reserved {
                        background-color: #293A74;
                        border: 1px solid #293A74;
                    }

                }
            }
        }
    }
    &__footer {
        display: flex;
        margin-top: 36px;
        justify-content: center;
        align-items: center;
        gap: 24px;
        color: #FEFEFE;

        &__left {
            min-width:100px;
            &__seats-count {
                font-size: 18px;
                color: #6D717D;

                margin-bottom: 12px;
            }
            &__seats-total {
                font-size: 32px;
                font-weight: 500;
                color: #FEFEFE;
            }
        }
        &__right {
            padding-top: 14px;
        }
    }
    &__label {
        font-weight: 300;
        font-size: 28px;
        color: #FEFEFE;
    }
}
.ticket-screen-line-container {
    display: flex;
    justify-content: center;
}
.ticket-screen-line {
    width: 100%;
    max-width: 365px;
    min-width: 257px;
    height: 50px;
    border: solid 5px #1C3797;
    border-color: #1C3797 transparent transparent transparent;
    border-radius: 50%/50px 50px 0 0;
    position: relative;
    top: 12px;
    box-shadow: inset 0px 20px 20px 6px #1f337a61;
}
.ticket-screen-label {
    color: #445081;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
    position: relative;
    bottom: 14px;
}
.buy-now-btn {
    display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: #4DCAE7;
        width: 225px;
        height: 64px;
        color: #FEFEFE !important;
        font-family: Roboto;
        letter-spacing: normal;
        font-size: 24px;
        position: relative;
        bottom: 8px;
}
.material-symbols-outlined {
    font-size: 32px;
    color: #555E7A;
}