<div class="search-categories-container">
    <div class="search-categories-container__label"><b>Movie</b> Categories</div>

    <div class="categories-list">
        <div class="category">
            <div class="category__icon">🤪</div>
            <div class="category__name">Comedy</div>
        </div>
        <div class="category">
            <div class="category__icon">👻</div>
            <div class="category__name">Horror</div>
        </div>
        <div class="category">
            <div class="category__icon">😈</div>
            <div class="category__name">Thriller</div>
        </div>
        <div class="category">
            <div class="category__icon">🥰</div>
            <div class="category__name">Romantic</div>
        </div>
        <div class="category">
            <div class="category__icon">🤠</div>
            <div class="category__name">Action</div>
        </div>
        <div class="category">
            <div class="category__icon">👽</div>
            <div class="category__name">Sci-fi</div>
        </div>
        <div class="category">
            <div class="category__icon">🕵️</div>
            <div class="category__name">Crime</div>
        </div>
        <div class="category">
            <div class="category__icon">🧸</div>
            <div class="category__name">Family</div>
        </div>
    </div>
</div>