<div class="list-container">
	<app-top-bar></app-top-bar>
	<app-search (searchValueChanged)="searchValueChanged($event)"></app-search>
	<app-now-showing></app-now-showing>
	<app-search-categories></app-search-categories>

	<div class="spinner" *ngIf="!!loading">
		<app-loader></app-loader>
	</div>
	<div id="search-results-box" *ngIf="cardList && !loading">
		<ng-container *ngIf="cardList.length > 0; else noResultsTemplate">
			<div class="search-results__label">Search results for: <b>{{ searchInput }}</b></div>
		</ng-container>

		<ng-template #noResultsTemplate>
			<div
				*ngIf="searchInput?.length > 0"
				class="search-results__no-results"
			>
				No results found
			</div>
		</ng-template>
		<div *ngIf="cardList.length > 0" class="result-cards-list">
			<ng-container
				*ngFor="let card of cardList | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }"
			>
				<mat-card class="single-card" [routerLink]="['/details']" [queryParams]="{id: card.imdbID}">
					<img
						mat-card-image
						class="single-card__image"
						[src]="card.imgSrc"
						alt="card image"
					/>
					<mat-card-title class="single-card__title"> {{ card.title }} </mat-card-title>
					<mat-card-content class="single-card__content"> {{ card.description }}, {{card.type}} </mat-card-content>
				</mat-card>
			</ng-container>
		</div>
	</div>
	
	<div class="footer-spacer">Jakub Rosner</div>
</div>