body {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.page {
    height: calc(100% + 100px);
    width: 100%;

    &__container {
        height: 100%;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .page__container {
      width: 100vw;
    }
  }