.details-container {
    background: rgb(2, 0, 36);
    background: linear-gradient(135deg, rgb(2, 0, 36) 0%, rgb(4, 16, 58) 35%, rgb(23, 60, 125) 100%);

    padding: 36px;
    height: 100%;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    // padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */

    padding-bottom: 100px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 48px;

        span {
            color: #FEFEFE;
            font-size: 28px;
        }

        .back-icon-btn {
            cursor: pointer;
            background-color: transparent;


            &:hover {
                background-color: #626b8454;
            }

            mat-icon {
                position: relative;
                left: 4px;
                bottom: 3px;
                color: #FEFEFE;
                font-size: 28px;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__poster {
            display: flex;
            justify-content: center;

            width: 100%;
            height: 100%;
            border-radius: 24px;
            margin-bottom: 48px;

            img {
                border-radius: 24px;
                width: 100%;
                height: 100%;
                min-width: 300px;
                min-height: 420px;
                max-width: 300px;
                max-height: 450px;

                background-color: #626B84a8;

                -webkit-box-reflect: below 1px -webkit-gradient(linear, right top, right bottom, from(transparent), color-stop(90%, transparent), to(rgba(255, 255, 255, 0.1)));
                -webkit-box-shadow: 8px 8px 45px 3px rgba(66, 68, 90, 1);
                -moz-box-shadow: 8px 8px 45px 3px rgba(66, 68, 90, 1);
                box-shadow: 8px 8px 45px 3px rgba(66, 68, 90, 1);
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 48px;

            .movie-title {
                color: #FEFEFE;
                font-size: 28px;
                font-style: bold;

                margin-bottom: 16px;
            }
            .movie-info {
                display: flex;
                gap: 8px;

                color: #626B84;
                font-size: 12px;

                margin-bottom: 12px;

                .dot {
                    position: relative;
                    top: 3px;
                }
            }
            .movie-rating {
                .star-icon {
                    color: #626B84;
                    font-size: 24px;
    
                    &.star-full {
                        color: #F2C94C;
                    }
                }
            }            
        }
        &__description {
            .description-text {
                color: #626B84;
                font-size: 16px;
            }
        }
    }
    &__label {
        font-weight: 300;
        font-size: 28px;
        color: #FEFEFE;
    }
    &__footer {
        margin-top: 48px;

        &__label {
            font-weight: 300;
            font-size: 24px;
            color: #FEFEFE;
        }

        .viewed-cards-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 16px;

            margin-top: 24px;
            padding-bottom: 100px;
        
            .single-card {
                width: 170px;
                border-radius: 16px;
                background-color: #2C3758;
        
                cursor: pointer;
        
                &__image {
                    min-width: 170px;
                    min-height: 200px;
                    background-color: rgba(98, 107, 132, 0.6588235294);
                }
                &__title {
                    padding: 16px;
                    color: #FEFEFE;
                    background-color: #2C3758;
                    border-radius: 16px;
                }
            }
        }
    }
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #626B84;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
}

.buy-ticket-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;

    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,0.07889093137254899) 0%, rgba(3,12,52,0.5578825280112045) 30%, rgba(4,14,55,0.8015800070028012) 51%, rgba(4,16,58,0.9472382703081232) 70%);

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: #4DCAE7;
        width: 250px;
        height: 64px;
        color: #FEFEFE !important;
        font-family: Roboto;
        letter-spacing: normal;
        font-size: 24px;
        position: relative;
        bottom: 8px;
    }
}