<div class="details-container">
  <div class="details-container__header">
    <button
      mat-fab
      class="back-icon-btn"
      (click)="goBack()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="details-container__label">Movie Details</div>
    <div style="width: 48px;"></div>
  </div>
  <div class="details-container__content">
    <div class="details-container__content__poster">
      <img [src]="movie?.Poster" alt="Movie poster image"/>
    </div>
    <div class="details-container__content__info">
      <div class="movie-title">{{ movie?.Title }}</div>
      <div class="movie-info">
        <div class="movie-info__year">{{ movie?.Year}}</div>
        <div class="dot"></div>
        <div class="movie-info__category">{{ movie?.Genre }}</div>
        <div class="dot"></div>
        <div class="movie-info__length">{{ movie?.Runtime }}</div>
      </div>
      <div class="movie-rating">
        <ng-container *ngFor="let rating of ratingStars()">
          <span class="material-icons-outlined star-icon" [ngClass]="{'star-full': !!rating.full}">
            star
          </span>
        </ng-container>
      </div>
    </div>
    <div class="details-container__content__description">
      <div class="details-container__label"><b>Plot</b> Summary</div>
      <p class="description-text">{{ movie?.Plot }}</p>
    </div>
  </div>
  <div class="details-container__footer">
    <div class="details-container__footer__label"><b>Previously</b> viewed</div>
  </div>
</div>


<!-- <mat-card id='main' class="mat-elevation-z1">
    <img [src]="movie.Poster" alt="Movie poster image"/>
    <mat-card-title> {{ movie.Title }} </mat-card-title>
    <mat-card-content> 
        <b>Actors: </b> {{movie.Actors}} <br />
        <b>Awards: </b> {{movie.Awards}} <br />
        <b>BoxOffice: </b> {{movie.BoxOffice}} <br />
        <b>Country: </b> {{movie.Country}} <br />
        <b>DVD: </b> {{movie.DVD}} <br />
        <b>Director: </b> {{movie.Director}} <br />
        <b>Genre: </b> {{movie.Genre}} <br />
        <b>Language: </b> {{movie.Language}} <br />
        <b>Metascore: </b> {{movie.Metascore}} <br />
        <b>Plot: </b> {{movie.Plot}} <br />
        <b>Production: </b> {{movie.Production}} <br />
    </mat-card-content>
  </mat-card>

  <hr>
  <mat-card *ngIf="watchedMovies" class="mat-elevation-z1">
    <h1>Last searched: </h1>
    <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 50vh">
      <div fxLayout="row wrap">
        <div
          *ngFor="let movie of watchedMovies"
          fxFlex="25"
          fxFlex.md="33"
          fxFlex.sm="50"
          fxFlex.xs="100"
          fxLayout="column"
          style="padding: 5px;"
        >
          <mat-card class="mat-elevation-z1">
            <img mat-card-image style="max-width: 150px; height: auto" [src]="movie.poster" alt="Movie poster image"/>
            <mat-card-title> {{ movie.title }} </mat-card-title>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card>
  
   -->