<div class="details-container">
  <div class="details-container__header">
    <button
      mat-fab
      class="back-icon-btn"
      (click)="goBack()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="details-container__label">Movie Details</div>
    <div style="width: 48px;"></div>
  </div>
  <div class="details-container__content">
    <div class="details-container__content__poster">
      <img [src]="movie?.Poster" alt="Loading"/>
    </div>
    <div class="details-container__content__info">
      <div class="movie-title">{{ movie?.Title }}</div>
      <div class="movie-info">
        <div class="movie-info__year">{{ movie?.Year}}</div>
        <div class="dot"></div>
        <div class="movie-info__category">{{ movie?.Genre }}</div>
        <div class="dot"></div>
        <div class="movie-info__length">{{ movie?.Runtime }}</div>
      </div>
      <div class="movie-rating">
        <ng-container *ngFor="let rating of ratingStars()">
          <span class="material-icons-outlined star-icon" [ngClass]="{'star-full': !!rating.full}">
            star
          </span>
        </ng-container>
      </div>
    </div>
    <div class="details-container__content__description">
      <div class="details-container__label"><b>Plot</b> Summary</div>
      <p class="description-text">{{ movie?.Plot }}</p>
    </div>
  </div>
  <div class="details-container__footer">
    <div class="details-container__footer__label"><b>Previously</b> viewed</div>
    <div class="viewed-cards-list">
      <ng-container
        *ngFor="let movie of watchedMovies"
      >
        <mat-card class="single-card" [routerLink]="['/details']" [queryParams]="{id: movie.imdbID}">
          <img
            mat-card-image
            class="single-card__image"
            [src]="movie.poster"
            alt="card image"
          />
          <mat-card-title class="single-card__title"> {{ movie.title }} </mat-card-title>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>

<div class="buy-ticket-footer">
    <button mat-button class="buy-ticket-footer__btn" (click)="buyTicket()">Buy ticket</button>
</div>