<div class="now-showing-container">
    <div class="now-showing-container__label"><b>Now</b> Showing</div>

    <div class="carousel">
        <section id="slider">
            <input type="radio" name="slider" id="s1">
            <input type="radio" name="slider" id="s2">
            <input type="radio" name="slider" id="s3" checked>
            <input type="radio" name="slider" id="s4">
            <input type="radio" name="slider" id="s5">
            <label for="s1" id="slide1" name="avengers"></label>
            <label for="s2" id="slide2" name="hmf"></label>
            <label for="s3" id="slide3" name="topgun"></label>
            <label for="s4" id="slide4" name="gog"></label>
            <label for="s5" id="slide5" name="fast"></label>
          </section>
    </div>

    <div class="single-row">
        <button mat-button class="view-details-btn" (click)="goToMovieDetails()">View details</button>
    </div>
</div>