<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->

		
<form (ngSubmit)="handleSubmit(); $event.preventDefault()">
	<div class="searchBar">
		<div class="searchBar__left">
			<div class="search">
				<span class="material-symbols-outlined clickable" (click)="handleSubmit()">
					search
				</span>
			</div>
			<div class="search-input">
				<input
					class="transparent-input"
					type="text"
					placeholder="Search movie"
					[(ngModel)]="searchInput"
					name="searchInput"
				/>
			</div>
		</div>
		
		<div class="filters">
			<span class="material-symbols-outlined clickable" (click)="toggleFilters()">
				tune
			</span>
		</div>
	</div>

	<div
		class="advanced-filters"
		[ngClass]="{'advanced-filters--hidden': !filtersActive}"
	>
		<div class="advanced-filters__filter input-year">
			<span class="material-symbols-outlined">
				event
			</span>
			<input type="number"  class="transparent-filter" placeholder="ex. '2023" [(ngModel)]="yearInput" name="yearInput" />
		</div>
		<div class="advanced-filters__filter">
			<span class="material-symbols-outlined">
				verified
			</span>
			<mat-select class="transparent-filter" [(ngModel)]="typeInput" name="typeInput">
				<mat-option *ngFor="let type of movieTypes" [value]="type">
					{{type}}
				</mat-option>
			</mat-select>
		</div>
	</div>
</form>