
    <div fxFlex fxLayout="row wrap" fxLayoutGap="10px" >
      <mat-card>
        <form (ngSubmit)="handleSubmit()">
          <mat-form-field class="example-full-width">
            <mat-label>Search title of movie</mat-label>
          <input matInput placeholder="ex. 'Spider" class="form-control" [(ngModel)]="searchInput" name="searchInput" value="spider">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Year of movie (optional)</mat-label>
          <input type="number" matInput placeholder="ex. '2020" class="form-control" [(ngModel)]="yearInput" name="yearInput" value="2020">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Type of movie (optional)</mat-label>
          <mat-select [(ngModel)]="typeInput" name="typeInput">
            <mat-option *ngFor="let type of movieTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button fxFlex mat-flat-button type="submit" color="primary">
          Search
        </button>
      </form>
    </mat-card>
  </div>