<div class="top-bar-container">
    <div class="top-bar-container__left">
        <div class="circle profile">
            <span class="material-symbols-outlined movie-icon">
                movie
            </span>
        </div>
        <div class="label">
            <div class="label__top"><b>Hello</b> movie enthusiast 👋</div>
            <div class="label__bottom">Find your favorite movie</div>
        </div>
    </div>
    
    <div class="circle notifications">
        <span class="material-symbols-outlined bell-icon">
            notifications_active
        </span>
        <div class="notifications__dot"></div>
    </div>
</div>
